img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.navLogo{
    max-width: 100px;
}

.navLinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;

}

.links a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.links a::after{
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.links a:hover::after{
    width: 70%;
}

